@import-normalize; /* bring in normalize.css styles */

@tailwind base;

@tailwind components;

/* Any custom component classes go here */

@tailwind utilities;

/* Any custom utilities go here */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  body {
    margin: 0;
    font-family: "InterVariable", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
